{
    "name"            : "Dev Sandbox V0.1",
    "box"             : "debian/stretch64",
    "hostname"        : "localhost",
    "boot_timeout"    : 120,
    "check_for_update": true,
    "gui"             : false,
    "ip"              : "192.168.10.10",
    "memory"          : 2048,
    "cpus"            : 1,

    "ports": [
        {
            "host"        : 8080,
            "guest"       : 80,
            "protocol"    : "tcp",
            "auto_correct": false
        },
        {
            "host"        : 8443,
            "guest"       : 443,
            "protocol"    : "tcp",
            "auto_correct": false
        }
    ],

    "files": [
        {
            "host" : "~/.gitconfig",
            "guest": "/home/vagrant/.gitconfig",
            "sync" : "always"
        },
        {
            "host"   : "./resources/hosts",
            "guest"  : "/etc/hosts",
            "sync"   : "always",
            "options": {
                "user" : "root",
                "group": "root",
                "mode" : 644
            }
        }
    ],

    "folders": [
        {
            "map"          : "./synced/htdocs",
            "to"           : "/var/www/html",
            "owner"        : "vagrant",
            "group"        : "vagrant",
            "mount_options": ["dmode=774", "fmode=775"]
        }
    ],

    "keys": [
        "~/.ssh/id_rsa"
    ],

    "sites": [
        {
            "http_port"  : 80,
            "https_port" : 443,
            "web_server" : "apache2",
            "server_name": "apache.localhost",
            "server_tpl" : "templates/apache2/default.tpl",
            "server_root": {
                "map"          : "./synced/htdocs",
                "to"           : "/var/www/html",
                "owner"        : "www-data",
                "group"        : "www-data",
                "mount_options": ["dmode=755", "fmode=644"]
            }
        },
        {
            "http_port"  : 7080,
            "https_port" : 7443,
            "web_server" : "nginx",
            "server_name": "nginx.localhost",
            "server_tpl" : "templates/nginx/default.tpl",
            "server_root": {
                "map"          : "./synced/htdocs",
                "to"           : "/var/www/html",
                "owner"        : "www-data",
                "group"        : "www-data",
                "mount_options": ["dmode=755", "fmode=644"]
            }
        }
    ]
}
